header{
    display: contents;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    
}

header .container{
    display: flex;
    margin: 5px;
    text-align: center;
    align-items: center;
    text-decoration: none;
}
.container-fluid{
    display: table;
    margin: 0;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

body .container.fondo{

    background: #393E46;

    justify-content: center;
    align-items: center;

}


